.comparison-table {
  text-align: right;

  th,
  tfoot {
    font-weight: $font-weight-bold;
  }

  thead td,
  thead th {
    border-top-width: 0;
  }

  tbody th {
    position: relative;
    text-align: left;
  }

  tfoot tr:first-child th,
  tfoot tr:first-child td {
    border-top-width: 2px;
  }

  .success {
    background-color: transparentize($green, .9);
  }

  .increase,
  .gallagher-decrease {
    color: $green;
  }

  .decrease,
  .gallagher-increase {
    color: $red;
  }

  .swatch {
    height: 25%;
    left: 1rem;
    position: absolute;
    top: 37.5%;
    width: .75rem;
    border-radius: .375rem;
  }

}


@include media-breakpoint-up(sm) {
  .comparison-table {
    tbody th {
      padding-left: 2.5rem;
    }
  }
}
