.custom-select {
  width: 100%;
}

.custom-checkbox {
  margin-right: 0;
  padding-left: 15px;

  .input-label {
    padding-left: 1.5rem;
  }

  .custom-control-indicator {
    left: 15px;
  }
}

.input-label {
  display: block;
  font-weight: 600;
  margin-bottom: .3125rem;
}

.form-card {
  background-color: $gray-100;
  border-color: $gray-200;
  margin: 2.25rem 0 1rem;
  padding: .6875rem 1rem 0;
}

.custom-rangeslider {
  min-height: 4.1875rem;

  .rangeslider {
    background-color: $custom-control-indicator-bg;
    border-radius: $btn-border-radius-sm;
    height: 1rem;
    margin-top: 1rem;
    position: relative;

    .fill {
      background-color: rgba(0, 0, 0, .1);
      border-radius: 1px;
      height: 100%;
      top: 0;
    }

    .handle {
      background-color: $white;
      border: 1px solid rgba(0, 0, 0, .2);
      border-radius: $btn-border-radius-sm;
      color: $gray-700;
      cursor: pointer;
      display: inline-block;
      height: 2.375rem;
      line-height: 1;
      margin-left: -2rem;
      padding: .625rem 0;
      position: absolute;
      text-align: center;
      top: -.5rem;
      width: 4rem;
    }
  }
}

@include media-breakpoint-up(sm) {
  .custom-checkbox {
    min-height: 4.1875rem;

    .input-label {
      padding-left: 0;
    }

    .custom-control-indicator {
      height: 2.375rem;
      left: 15px;
      top: 1.8125rem;
      width: 2.375rem;
    }
  }
}
