.form-card {
  background-color: $gray-100;
  border-color: $gray-200;
  margin: 2.25rem 0 1rem;
  padding: .6875rem 1rem 0;
}

.input-label {
  display: block;
  font-weight: 600;
  margin-bottom: .3125rem;
}

.custom-select {
  width: 100%;
}

.custom-checkbox {
  margin-right: 0;
  padding-left: 15px;

  .input-label {
    padding-left: 1.5rem;
  }

  .custom-control-indicator {
    left: 15px;
  }
}

.input-group {
  .form-control:focus ~ .input-group-addon {
    background-color: lighten($input-focus-border-color, 15%);
    border-color: $input-focus-border-color;
  }
}

@include media-breakpoint-up(sm) {
  .custom-checkbox {
    min-height: 4.1875rem;

    .input-label {
      padding-left: 0;
    }

    .custom-control-indicator {
      height: 2.375rem;
      left: 15px;
      top: 1.8125rem;
      width: 2.375rem;
    }
  }
}
