.navbar-brand {
  font-weight: 600;
  margin: 0 -1rem;
  padding: .8rem 1rem .825rem;
  text-transform: lowercase;

  &:focus {
    background-color: $brand-hover-colour;
  }
}

.mg-navbar {
  background-color: $brand-colour;
  padding: 0 1rem;

  .nav-link {
    padding: 1rem;
  }

  .nav-link:hover,
  .nav-link:focus,
  .nav-link.active,
  .nav-item.dropdown.show .nav-link {
    background-color: $brand-hover-colour;
  }

  .dropdown-menu {
    border-radius: 0 0 $border-radius $border-radius;
    border-top-width: 0;
    margin: 0;
  }

  .dropdown-item {
    padding: 1rem;
  }

  .dropdown-item.active,
  .dropdown-item:active {
    background-color: $brand-colour;
  }
}

@include media-breakpoint-up(sm) {
  .mg-navbar .navbar-nav .nav-link {
    padding: 1rem;
  }
}
