.custom-rangeslider {
  min-height: 4.1875rem;

  .rangeslider {
    background-color: $custom-control-indicator-bg;
    border-radius: $btn-border-radius-sm;
    height: 1rem;
    margin-top: 1rem;
    position: relative;
    touch-action: none;
  }

  .rangeslider__fill {
    background-color: $input-border-color;
    border-radius: 1px;
    height: 100%;
    top: 0;
  }

  .rangeslider__handle {
    background-color: $white;
    border: 1px solid $input-border-color;
    border-radius: $btn-border-radius-sm;
    color: $gray-700;
    cursor: pointer;
    display: inline-block;
    height: 2.375rem;
    line-height: 1;
    margin-left: -2rem;
    padding: .625rem 0;
    position: absolute;
    text-align: center;
    top: -.6875rem;
    width: 4rem;
    user-select: none;
  }

  .rangeslider__handle:focus {
    outline: 0 none;
  }

  .rangeslider__handle-label {
    pointer-events: none;
  }

  .rangeslider__labels {
    display: none;
  }

}
