// Colours
$brand-colour:                                  #f89828;
$brand-hover-colour:                            #e66c02;

// Bootstrap
$link-hover-decoration:                         none;
$font-family-sans-serif:                        "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-weight-bold:                              600;
$headings-font-family:                          "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$custom-control-indicator-checked-bg:           #28a745;
$custom-control-indicator-active-bg:            rgba(#28a745, 0.6667);
$custom-checkbox-indicator-indeterminate-bg:    #28a745;
